<% layout('layouts/boilerplate') %>
    <h1>Campground Details</h1>

    <div class="row">
        <ul>
            <li>
                Title: <%= campground.title %>
            </li>
            <li>
                Location: <%= campground.location %>
            </li>
            <li>
                Description: <%= campground.description %>
            </li>
            <li>
                Price: <%= campground.price %>
            </li>
        </ul>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <img src="<%= campground.image %>" class="img-fluid" alt="">
        </div>
    </div>

    <h2> Campground Reviews </h2>
    <div class="row">
        <% for (let rev of campground.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <b>(<%= rev.rating %>*)</b>
                    <%= rev.body %>
                </div>
            </div>
            <% } %>
    </div>

    <div class="row">
        <a href="/campgrounds/<%= campground._id %>/edit">EDIT this</a>
        <a href="/campgrounds/<%= campground._id %>/reviews/new">Add review</a>
        <a href="/campgrounds">Back to index</a>
    </div>
    <div class="row">
        <p>
        <form action="/campgrounds/<%= campground._id %>?_method=delete" method="post">
            <button>DELETE</button>
        </form>
        </p>
    </div>